:root {
    --purple-color: #6b2f88;
    --pink-color: #c83e8e;
    --white-color: #fff;
    --dark-color: #312f30;
    --light-color: #dadada;
    --grey-light-color: #f0f0f0;
    --blue-color: #5da0cf;
    --blue-dark-color: #221F3C;
    --blue-middle-color: #262051;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 58px);
    margin-bottom: 2rem !important;
}

.header-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.header-slider.active {
    opacity: 1;
}

.header-slider img {
    width: 100vw;
    height: calc(100vh - 106px);
    object-fit: cover;
    border-radius: 38% 45px;
    padding: 2%;
    filter: drop-shadow(1px 2px 1px var(--light-color));
}

.header-slider video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: hue-rotate(79deg) brightness(0.7) contrast(.6);
}

.content {
    color: var(--pink-color);
    background-image: url(../img/elemento-grafico.png);
    /* background-image: url(../img/home17-shape1.png); */
    background-size: cover;
    background-position: -378px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.content p b {
    color: var(--pink-color);
}


.slider-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.slider-item img {
    width: 100%;

}

.slider-item article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.content h2,
.content h1,
.content p {
    padding: 20px 0;
    color: var(--pink-color);
    /* font-size: 36px; */
}

.content p {
    line-height: 23px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--dark-color);
}

.content button:hover {
    cursor: pointer;
    background-color: var(--pink-color);
}

.content button {
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 44px;
    background-color: var(--purple-color);
    color: var(--white-color);
    box-shadow: 0px 2px 3px #00000091;
    border: none;
    z-index: 5;
    /* position: relative; */
}

.arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
    color: var(--pink-color);
    font-size: 24px;
    z-index: 8;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.arrow_contenedor {
    position: absolute;
    bottom: 16%;
    left: 10px;
    width: 130px;
}

.counter {
    color: var(--pink-color);
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.header-slider h1 {
    font-size: 48px;
    line-height: 53px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-color);
}

.container {
    max-width: 1300px;
    width: 100% !important;
    margin: 0 auto;
    position: relative;
}

.max-width {
    max-width: 1300px;
    width: 100% !important;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .contenedor {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;

    }

    .header-slider h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1000fr;
        gap: 10px;

    }
}


/* SECTIONS */
.dark-section {
    position: relative;
    background-color: var(--blue-dark-color);
    color: var(--white-color);
    padding: 6rem 0;
    /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); */
    margin-bottom: 3rem;
    padding-bottom: 5rem;

    background-image: url(../img/elemento-grafico.png);
    background-size: cover;
    background-position: calc(100% + 400px);
    background-size: 665px;
    background-repeat: no-repeat;
}

.dark-section h1,
.dark-section p {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    line-height: 48px;
    font-size: 38px;
    text-align: center;
    font-weight: 800;
    padding: 0 0 4rem 0;
}

.serv-box-2 {
    overflow: hidden;
    position: relative;
    padding: 43px 30px 65px;
    background: #262051;
    color: #aeaacb;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.serv-box-2 .big-number {
    position: absolute;
    left: -10px;
    top: 0;
    font-size: 100px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
    line-height: 72px;
    color: #332d5f;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.serv-box-2 .content-box {
    position: relative;
    z-index: 1;
}

.serv-box-2 .icon-main {
    position: absolute;
    bottom: -88px;
    right: -88px;
    width: 188px;
    height: 188px;
    color: #fff;
    background: #332d5f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.serv-box-2 .content-box h5 {
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}

.serv-box-2 .content-box .btn-details {
    display: inline-block;
    margin-top: 30px;
}

.btn-details {
    font-size: 14px;
    font-weight: 700;
    color: var(--blue-color);
}

.pt-5 {
    padding-top: 5rem;
}

h5 {
    font-size: 20px;
    font-weight: 700;
}

.box-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.box-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem 2rem;
    font-size: 13px;
}

.box-items {
    display: grid;
    grid-template-columns: 58px auto;
    gap: 1rem;
}

.serv-box-2 .icon-main i {
    position: absolute;
    top: 42px;
    left: 40px;
    font-size: 35px;
    line-height: 1;
}

.serv-box-2:hover {
    background: #fff;
    color: #6d6d6d;
    box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, .1);
}

.serv-box-2:hover .icon-main {
    background: var(--blue-color);
}

.serv-box-2:hover .content-box h5 {
    color: #1b1d21;
}

.serv-box-2:hover .big-number {
    color: #f4f6f6;
}

.resalt {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    line-height: 48px;
    font-size: 38px;
    text-align: center;
    font-weight: 800;
    padding: 0 0 1rem 0;
    color: var(--grey-light-color);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); */
}

/* LIGHT */
.light-section {
    position: relative;
    background-color: var(--grey-light-color);
    color: var(--dark-color);
    padding: 6rem 0;
    padding-bottom: 6rem;

}

.left-backg {
    /* background-image: url(../img/home17-shape1.png);
    background-size: cover;
    background-position: left -211px;
    background-size: 165px;
    background-repeat: no-repeat; */
    background-image: url(../img/elemento-grafico.png);
    background-size: cover;
    background-position: -378px;
    background-size: 665px;
    background-repeat: no-repeat;
}

.light-section h1,
.light-section p,
.primary-title {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    line-height: 48px;
    font-size: 38px;
    text-align: center;
    font-weight: 800;
    padding: 0 0 4rem 0;
}

.light-section img {
    width: 100%;
    filter: saturate(42%) invert(40%) sepia(2222%) saturate(2061%) hue-rotate(196deg) brightness(1) contrast(10);
}

.light-section h5 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
    transition: 0.5s ease;
}

.light-section .description {
    line-height: 23px;
    transition: 0.5s all;
}

.box-items:hover img {
    animation: jumpAround 2s infinite ease-in-out;
    filter: saturate(42%) invert(40%) sepia(2222%) saturate(2061%) hue-rotate(275deg) brightness(1) contrast(10);
}

.box-items:hover h5,
.box-items:hover .description {
    color: #ff00ff;
}


@keyframes jumpAround {
    0% {
        transform: scale(1);
    }

    10%,
    20% {
        transform: scale(0.9) rotate(-3deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg);
    }

    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}


/* VIDEO SECTION */
.video-section {
    /* position: relative;
    padding: 6rem 1rem;
    background: url("https://www.animedia.pe/wp-content/uploads/2017/06/banner-audiovisual-2.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
    position: relative;
    padding: 6rem 1rem;
    background: #4d0cfe;
    background-repeat: no-repeat;
    background-size: contain;
    background: linear-gradient(to right, #8414fe, #cc24fe);
}

.video-section_before {
    padding: 29px;
    background-color: #4d0cfe;
    clip-path: polygon(100% 100%, 100% 00%, 00% 100%);
    margin-bottom: 0;
}

.video-section img {
    width: 680px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.video-section img.play-icon {
    width: 71px;
    position: absolute;
    top: calc(50% + 36px);
    left: 50%;
    transition: 0.5s all;
    transform: translate(-50%, calc(-50% - 6px));
    filter: contrast(0) sepia(1) hue-rotate(259deg) brightness(33) opacity(0.65);
    box-shadow: none;
}

.video-section img.play-icon:hover {
    filter: contrast(0) sepia(1) hue-rotate(259deg) brightness(33) opacity(0.95);
    transform: translate(-50%, -50%) scale(1.3);
    cursor: pointer;
}

/* VIDEO CARDS */
.mt-7 {
    margin-top: 7rem;
}

.video_flex {
    display: flex;
    justify-content: center;
    position: relative;
}

.video-box {
    width: 418px;
    max-width: 100%;
}

.video-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.text-box {
    width: 328px;
    margin-top: -20%;
    margin: 0 auto;
    margin-top: -54px;
    margin-bottom: 72px;
    /* height: 130px; */
    padding: 20px;
    max-width: 100%;
}

.text-box h5 {
    font-size: 17px;
}


.play-icon2 {
    width: 70px !important;
    height: 70px !important;
    position: absolute !important;
    top: calc(30%) !important;
    left: 50% !important;
    transition: 0.5s all !important;
    transform: translate(-50%, calc(-50% - 6px)) !important;
    filter: contrast(0) sepia(1) hue-rotate(259deg) brightness(33) opacity(0.65) !important;
}

img.play-icon2:hover,
.video-box .video-thumbnail:hover~img.play-icon2 {
    filter: contrast(0) sepia(1) hue-rotate(259deg) brightness(33) opacity(0.95) !important;
    transform: translate(-50%, -50%) scale(1.3) !important;
    cursor: pointer;
}

.video-box .video-thumbnail:hover {
    filter: grayscale(1);
}

.logo-box {
    width: 251px !important;
    height: 40px !important;
    object-fit: contain !important;
    margin: 0 auto;
    display: block;
    margin-top: -12px;
    margin-bottom: 3px;
}

.video-box .title-box {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.video-box .serv-box-2:hover {
    background: #262051;
}

.video-card-section {
    padding-bottom: 3rem;

    /* background-image: url(../img/home17-shape2.png);
    background-size: cover;
    background-position: right -235px;
    background-size: 225px;
    background-repeat: no-repeat; */
}

.description-section {
    line-height: 23px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--dark-color);
}

.team-wrap {
    width: 337px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: -1px 1px 2px rgb(0 0 0 / 15%);
    position: relative;
    margin-bottom: 3px;
}

.team-wrap h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 2.4;
    margin: 0 0 20px;
    color: #1b1d21;
    text-align: center;
    font-size: 19px;
    margin: 0;
    padding: 0;
}

.team-wrap h2 {
    /* text-transform: uppercase; */
    font-size: 16px;
    font-weight: 300;
    color: #797979;
    text-align: center;
    margin-bottom: 54px;
}

.team-wrap .team-social {
    padding: 3px 17px;
    background: #ffffffe8;
    transform: scale(0);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 13px;
    text-align: center;
}

.team-wrap:hover .team-social {
    transform: scale(100%);
}

.team-wrap img {
    filter: none !important;
}

.social-icon {
    font-size: 30px;
    margin-top: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 17px;
    color: var(--pink-color);

}

.section-map {
    line-height: 23px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--dark-color);
    display: grid;
    grid-template-columns: 1fr 480px;
    gap: 15px;

}

.mimag {
    background-image: url(../img/elemento-grafico.png);
    background-size: contain;
    background-position: calc(100% + 26px);
    background-size: 188px;
    background-repeat: no-repeat;
    height: 181px;
    margin-bottom: 2rem;
    margin-top: -8rem;
    padding-right: 16px;
}

.section-map img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
    padding: 11px;
    object-fit: cover;
    border: 1px solid #ddd;
    filter: drop-shadow(1px 2px 1px #ddd);
}

.section-map b {
    color: var(--purple-color);
}

.section-map i {
    font-size: 22px;
    color: var(--pink-color);
}

.t-1 {
    color: var(--pink-color);
    font-size: 24px;
    line-height: 29px;
}

footer {
    background-color: var(--blue-middle-color);
    color: var(--white-color);
    padding: 1rem 0;
    text-align: center;
}

.mb-7 {
    margin-bottom: 7rem;
}

/* FORMS */
form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.section-form {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-bottom: 8rem;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: var(--purple-color);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: var(--pink-color);
}



/* RESPONSIVE */

/* Media Queries */
/* Smartphones en modo vertical y horizontal */
@media (max-width: 600px) {
    .logo img {
        margin-bottom: -5px !important;
    }

    .max-width {
        width: 98% !important;
    }

    .section-map {
        grid-template-columns: 1fr;
    }

    .box-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .box-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem 1rem;
        font-size: 13px;
    }

    .box-items {
        grid-template-columns: auto;
    }

    .light-section img {
        width: 56px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .light-section h5 {
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 15px;
        transition: 0.5s ease;
        text-align: center;
    }

    .light-section .description {
        text-align: center;
    }

    /* .slider-container {
        position: static;
    } */
    .header-slider {
        padding: 8px;
    }

    .slider-item {
        display: flex;
        flex-direction: column-reverse;
        grid-template-columns: 1fr;
        column-gap: 16px;
    }

    .header-slider h1 {
        font-size: 19px;
        line-height: 25px;
        padding: 0;
        background-color: var(--white-color);
        margin-top: -89px !important;
        display: block;
        z-index: 9;
        position: relative;
        padding-top: 61px;
        clip-path: polygon(0% 0%, 0% 100%, 189% 100%);
    }

    .slider-item img {
        width: 100%;
        height: 280px;
        border-radius: 0;
    }

    .resalt {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
        line-height: 30px;
        font-size: 20px;
        margin-top: -5rem;
    }

    .mimag {
        background-image: url(../img/elemento-grafico.png);
        background-size: contain;
        background-position: calc(100% + 4px);
        background-size: 122px;
        background-repeat: no-repeat;
        height: 128px;
        margin-bottom: 2rem;
        margin-top: -6rem;
        padding-right: 16px;
    }

    .video-section img.play-icon {
        top: calc(33% + 36px);

    }

    .section-map img {
        height: 300px;
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .serv-box-2 {
        padding: 43px 9px 66px;
        font-size: 12px;
    }

    .light-section h1,
    .light-section p,
    .primary-title {

        line-height: 40px;
        font-size: 30px;
        padding: 0 0 2rem 0;
    }

    .arrow_contenedor {
        position: absolute;
        bottom: 1%;
        left: 10px;
        width: 130px;
    }

    .slider-item article {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 7px;
    }

    .content p {
        margin-bottom: -5px;
    }

    /* .mt-2 {
        margin-top: 0rem !important;
    } */

    .team-wrap {
        width: 100%;
        padding-top: 40px;
    }

    .team-wrap h1 {
        font-size: 22px;
        line-height: 32px;
        margin: 0;
        padding: 0px;
        padding-bottom: 10px;
    }

    .team-wrap img {
        width: 135px;
        border-radius: 50%;
        height: 135px;
        object-fit: cover;
        margin-bottom: 21px;
    }
}

/* Tablets en modo vertical y horizontal */
@media (min-width: 601px) and (max-width: 1024px) {

    .max-width {
        width: 98% !important;
    }

    .box-items {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }

    .light-section img {
        width: 56px;
    }

    .light-section h5 {
        font-size: 19px;
        line-height: 29px;
        margin-bottom: 15px;
    }

    .box-4 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .serv-box-2 {
        font-size: 14px;
    }

    .section-map {
        grid-template-columns: 1fr;
    }

    /* .video-box img {
        width: 100%;
        height: 190px;
        object-fit: cover;
    }
    .video-box {
        width: 300px;
    }
    .text-box {
        width: 300px;
        margin-top: -10%;
    }
    .team-wrap {
        width: 240px;
        padding: 0.5rem;
    } */
}

/* Dispositivos pequeños (desktops/laptops) */
@media (min-width: 1025px) and (max-width: 1440px) {
    /* body {
        background-color: blue;
    } */
}

/* Dispositivos grandes (desktops/laptops) */
@media (min-width: 1441px) {
    body {
        background-color: green;
    }
}


.swiper-slide {
    width: 100%;
    /* Default width */
}

/* Ancho fijo para diferentes tamaños de ventana */
@media (min-width: 320px) {
    .swiper-slide {
        width: 80px;
    }
}

@media (min-width: 480px) {
    .swiper-slide {
        width: 150px;
    }
}

@media (min-width: 640px) {
    .swiper-slide {
        width: 200px;
    }
}

@media (min-width: 768px) {
    .swiper-slide {
        width: 250px;
    }
}

@media (min-width: 1024px) {
    .swiper-slide {
        width: 300px;
    }
}

.mailto a {
    color: var(--dark-color) !important;
    text-decoration: none;
}

#BtnWupFixed {
    position: fixed;
    z-index: 8000;
    right: 20px;
    bottom: 18px;
}

#BtnWupFixed a {
    position: relative;
    z-index: 100;
    width: 50px;
    height: 50px;
    display: block;
    background: #25D266 url(../img/icono-whatsapp.svg) no-repeat 50% 50%;
    border-radius: 50%;
    padding: 35px;
    background-size: 60% auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: all 0.3s ease;

}

#BtnWupFixed a:hover {
    filter: drop-shadow(1px 2px 6px #555);
    transform: scale(1.1);
}