:root {
    --purple-color: #6b2f88;
    --pink-color: #c83e8e;
    --white-color: #fff;
    --dark-color: #312f30;
    --light-color: #dadada;
    --blue-color: #5da0cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nunito Sans", sans-serif; */
    font-family: "Poppins", sans-serif;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 58px);
    margin-bottom: 2rem !important;
}

.header-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.header-slider.active {
    opacity: 1;
}

.header-slider img {
    width: 100vw;
    height: calc(100vh - 106px);
    object-fit: cover;
    border-radius: 38% 45px;
    padding: 2%;
    filter: drop-shadow(1px 2px 1px var(--light-color));
}

.header-slider video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: hue-rotate(79deg) brightness(0.7) contrast(.6);
}

.content {
    color: var(--pink-color);
    background-image: url(../img/home17-shape1.png);
    background-size: cover;
    background-position: left -78px;
    background-size: 165px;
    background-repeat: no-repeat;
}

.content p b {
    color: var(--pink-color);
}


.slider-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.slider-item img {
    width: 100%;

}

.slider-item article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
}

.content h2,
.content h1,
.content p {
    padding: 20px 0;
    color: var(--pink-color);
    /* font-size: 36px; */
}

.content p {
    line-height: 23px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--dark-color);
}

.content button:hover {
    cursor: pointer;
    background-color: var(--pink-color);
}

.content button {
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    padding: 15px 44px;
    background-color: var(--purple-color);
    color: var(--white-color);
    box-shadow: 0px 2px 3px #00000091;
    border: none;
    z-index: 5;
    /* position: relative; */
}

.arrow {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
    color: var(--pink-color);
    font-size: 24px;
    z-index: 8;
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}

.arrow_contenedor {
    position: absolute;
    bottom: 16%;
    left: 10px;
    width: 130px;
}

.counter {
    color: var(--pink-color);
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.header-slider h1 {
    font-size: 48px;
    line-height: 53px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    color: var(--dark-color);
}

.container {
    max-width: 1300px;
    width: 100% !important;
    margin: 0 auto;
    position: relative;
}

.max-width {
    max-width: 1300px;
    width: 100% !important;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .contenedor {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;

    }

    .header-slider h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1000fr;
        gap: 10px;

    }
}


/* SECTIONS */
.diagonal-section {
    position: relative;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 5rem 0;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    margin-bottom: 3rem;
}

.diagonal-section h1, .diagonal-section p {
    margin: 0;
    padding: 0;
}